.div-1, .div-2{
    background-color: red;
    /* display: block; POR DEFECTO -> div*/
}

.span-1{
    background-color: blue;
    /* display: inline; POR DEFECTO -> span*/
    float: right;
}

.span-2{
    background-color: blue;
    /* display: inline; POR DEFECTO -> span*/
    float: left; /*'float': Solo sirve para los elementos 'inline'*/
}

img{
    width: 50px;
    height: 50px;
    /* display: inline-block; POR DEFECTO -> img. Nos permite trabajr con la altura y anchura*/
}