body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.btn-modern{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    transition: transform 0.4s, box-shadow 0.4s, background-color 0.4s, color 0.4s;
}

.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px black;
    background-color: #acacac;
    color: black;
}