/* Anidación de selectores */

p{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

#contenedor p{
    width: 300px;
    color: green;
}

#contenedor #boton-contenedor{
    background-color: green;
}